{
    "version" : "2017-02-28",
    "operation": "Invoke",
    "payload": {
        "field": "connectionWork",
        "arguments": {
        	"userId": $utils.toJson($context.source.id),
            "limit": $utils.toJson($context.arguments.limit),
            "exclusiveStartKey": $utils.toJson($context.arguments.exclusiveStartKey)
        },
        "identity": $utils.toJson($context.identity)
    }
}
