#set( $attributes = $util.dynamodb.toMapValues($ctx.args) )
$util.qr($attributes.put("identity", $ctx.identity.cognitoIdentityId))
{
    "version" : "2017-02-28",
    "operation" : "PutItem",
    "key" : {
        "id" : { "S": "$ctx.identity.sub" }
    },
    "attributeValues":{
        "name"     : { "S": "$ctx.args.user.name" },
        "email" : { "S": "$ctx.args.user.email" },
        #if( $ctx.args.user.career )
    		"career": { "S": "$ctx.args.user.career" },
        #end
        #if( $ctx.args.user.avatarUri )
    		"avatarUri": { "S": "$ctx.args.user.avatarUri" },
        #end
        #if ( $ctx.args.user.message )
    		"message" : { "S": "$ctx.args.user.message" }
        #end
    },
    "condition" : {
     	"expression" : "attribute_not_exists(id)"
  	}
}
